<div class="projects">
  <h2 id="projects">Проекты</h2>
  <div class="projects-box">
    <p class="project-description">{{ currentProject.description }}</p>

    <div class="gallery-container">
      <button class="nav-button prev-button" (click)="prev()">
        <img
          src="../../../assets/services/strwhleft.svg"
          alt="предыдущий проект"
          class="arrow"
        />
      </button>

      <div class="projects-window">
        <div class="image-wrapper" [@fadeAnimation]="currentIndex">
          <div 
          [innerHTML]="currentProject.image" 
          class="project-image"
        ></div>
        </div>
      </div>

      <button class="nav-button next-button" (click)="next()">
        <img
          src="../../../assets/services/strelwh.svg"
          alt="следующий проект"
          class="arrow"
        />
      </button>
    </div>

    <div class="dots-container">
      <div
        *ngFor="let dot of projects; let i = index"
        class="dot"
        [class.active]="i === currentIndex"
        (click)="goTo(i)"
      ></div>
    </div>

    <a
      [href]="currentProject.link"
      class="go-to-project_btn"
      target="_blank"
      rel="noopener noreferrer"
    >
      Перейти к проекту
    </a>
  </div>
</div>
