.projects {
  max-width: 1216px;
  margin: clamp(60px, 7vw, 100px) auto 0;
  box-sizing: border-box;
  padding: 0 20px;
}

h2 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: clamp(32px, 7vw, 96px);
  letter-spacing: -0.06em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 0;
  margin-top: 0;
}

.projects-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.project-description {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.06em;
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
}

.gallery-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.projects-window {
  max-width: 960px;
  width: 100%;
}

.project-image {
  width: 100%;
  max-height: 800px;
  display: block;
  transition: opacity 0s ease-in-out;
}

.nav-button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: clamp(20px, 5vw, 50px);
  height: clamp(20px, 5vw, 50px);
  @media (max-width: 480px) {
    width: 20px;
    height: 20px;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #e32966;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50%;
  flex-shrink: 0;
  margin: 0 clamp(10px, 5vw, 78px);

  &:hover {
    background-color: #bb013e;
  }

  img {
    width: 30%;
    max-width: 30px;
  }
}

.dots-container {
  display: flex;
  gap: 15px;
  margin: 30px 0;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2b2b2b;
  cursor: pointer;

  &.active {
    background-color: #e32966;
    transform: scale(1.2);
  }
}

.go-to-project_btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  padding: 15px 30px;
  border-radius: 30px;
  background-color: #e32966;
  text-decoration: none;

  &:hover {
    background-color: #bb013e;
  }
}

@media (max-width: 992px) {
  .project-description {
    font-size: 32px;
  }

  .projects-window {
    max-width: 600px;
  }
}

@media (max-width: 960px) {
  .projects {
    margin-top: clamp(40px, 6vw, 60px);
  }
}

@media (max-width: 576px) {
  .project-description {
    font-size: 15px;
    margin: 30px 0 20px;
  }

  .prev-button {
    margin: 0 10px 0 0;
  }

  .next-button {
    margin: 0 0 0 10px;
  }

  .dots-container {
    margin: 20px 0;
  }

  .dot {
    width: 10px;
    height: 10px;
  }

  .go-to-project_btn {
    font-size: 16px;
    padding: 8px 16px;
  }
}
