/* Основные настройки секции */
.team-section {
  padding: 100px 20px;
  max-width: 1216px;
  margin: 0 auto 0;
  box-sizing: border-box;
}

/* Заголовок секции */
.team-title {
  text-align: left; //по левому краю
  font-size: clamp(32px, 7vw, 96px); //будет меньяться от 32 до 96
  font-family: "Space Grotesk", sans-serif;
  margin: 0 0 20px; // топ бока низ
  line-height: 1.3; //междустрочный

  .first-word {
    color: white; //наша
  }

  .second-word {
    color: #e32966; //команда
  }
}

/* Контейнер с кнопками категорий */
.category-buttons {
  display: flex; //делает контейнер флекс боксом для гибкости
  justify-content: flex-start; //прижимает к началу - левый край
  gap: 20px; //между элементами
  margin-bottom: 40px;
  flex-wrap: nowrap; //запрещает переход на новую строку

  @media (max-width: 992px) {
    flex-wrap: wrap; //разрешает переход на новую строку
  }

  @media (max-width: 576px) {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  button {
    font-family: "Montserrat", sans-serif;
    padding: 15px;
    background: #171717;
    border: none;
    border-radius: 20px;
    text-align: center;
    font-size: clamp(12px, 1.5vw, 20px);
    line-height: 1.09;
    cursor: pointer;
    transition: all 0.3s; //анимирует
    font-weight: 500;
    display: flex;
    flex-direction: column; //расположение элементов внутри кнопки
    align-items: center; //выравнивание по центру горизонтали
    justify-content: center; //выравнивание по центру вертикали
    width: clamp(150px, 18vw, 227px); //высота кнопки
    aspect-ratio: 1; //кнопка квадратная
    color: #e32966;

    @media (max-width: 576px) {
      border-radius: 15px;
      padding: 20px;
    }

    &.active {
      background: #0d0d0d;
      color: white;

      .category-icon {
        filter: brightness(0) invert(1);
      }
    }

    &:hover:not(.active) {
      background: #202020;
    }
  }

  .category-icon {
    width: clamp(80px, 9vw, 130px);
    height: auto; //чтобы картинка иконки не сжималась
    margin-bottom: 8px;
    transition: filter 0.3s;
  }
}

/** сетка **/
.team-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 колонки на десктопе */
  gap: 20px;

  /* Мобильные (например, 576px и меньше) - 2 колонки с горизонтальным скроллом */
  @media (max-width: 576px) {
    grid-template-columns: repeat(5, 1fr); /*колонки на мобилкe */
    overflow-x: auto;
    padding-bottom: 10px; /* место для скролла */

    /* Скрываем скроллбар */
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

/* Карточка участника */
.team-member {
  position: relative;
  scroll-snap-align: start;

  @media (max-width: 576px) {
    flex: 0 0 calc(50% - 6px);
    min-width: 150px; /* фиксированная ширина для мобильных */
  }

  .member-photo {
    position: relative;
    width: 100%;
    padding-bottom: 150%;
    overflow: hidden;
    border-radius: 20px;
    transition: transform 0.3s;

    @media (max-width: 992px) {
      padding-bottom: 140%;
    }

    @media (max-width: 576px) {
      height: 224px;
      width: 150px;
      padding-bottom: 0; /* убираем padding-bottom так как задали фиксированную высоту */
      border-radius: 15px;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s;
    }

    .member-info {
      font-family: "Montserrat", sans-serif;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: clamp(8px, 1vw, 15px);
      background: rgba(0, 0, 0, 0.4);
      backdrop-filter: blur(9px);
      color: white;
      transform: translateY(100%);
      transition: transform 0.3s;
      text-align: center;
      border-radius: 20px;

      font-size: clamp(10px, 1.5vw, 19px);

      @media (max-width: 576px) {
        transform: translateY(0);
        position: absolute;
        border-radius: 15px;
      }

      h3 {
        margin: 10px 0 5px;
        font-weight: 500;
      }

      p {
        margin: 0;
        font-weight: 300;
        opacity: 0.9;
        @media (max-width: 576px) {
        }
      }
    }

    &:hover {
      img {
        transform: scale(1.05);
      }

      .member-info {
        transform: translateY(0);
      }

      @media (max-width: 576px) {
        img {
          transform: none;
        }
      }
    }
  }

}
