<section class="team-section" #teamsection>
  <h2 id="team" class="team-title" #teamEl>
    <span class="first-word">СПЕЦИАЛИЗАЦИИ</span>
    <span class="second-word"> КОМАНДЫ</span>
  </h2>
  <div class="category-buttons">
    <button *ngFor="let category of categories" [class.wide]="category.isWide">
      <span>{{ category.displayName }}</span>
      <video
        aria-hidden="true"
        preload="metadata"
        class="category-icon"
        width="250"
        height="250"
        loop
        muted
        playsinline
        autoplay
        [attr.aria-label]="category.displayName"
        #categoryVideo
      >
        <source [attr.src]="category.icon" type="video/webm" />
        <source
          [attr.src]="category.icon.replace('.webm', '.mp4')"
          type="video/mp4"
        />
      </video>
    </button>
  </div>
</section>
