<section class="team-section" >
  <h2 id="team" class="team-title" #teamEl>
    <span class="first-word">СПЕЦИАЛИЗАЦИИ</span>
    <span class="second-word"> КОМАНДЫ</span>
  </h2>
  <div class="category-buttons">
    <button *ngFor="let category of categories" [class.wide]="category.isWide">
      <span>{{ category.displayName }}</span>
      <img
        [src]="category.icon"
        alt="{{ category.displayName }}"
        class="category-icon"
        width="250"
        height="250"
        loading="lazy"
      />
    </button>
  </div>
</section>