/* Обновляем стили для сетки */
.team-section {
  padding: 0 20px;
  max-width: 1216px;
  margin: clamp(60px, 7vw, 100px) auto 0;
  box-sizing: border-box;

  @media (max-width: 960px) {
    margin-top: clamp(40px, 6vw, 60px);
  }
}

.team-title {
  text-align: left;
  font-size: clamp(32px, 8.4vw, 96px);
  font-family: "Space Grotesk", sans-serif;
  margin: 0 0 20px;
  line-height: 1;

  .first-word {
    color: white;
  }

  .second-word {
    color: #0077ff;
  }
}

.category-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @media (max-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
  }

  button {
    grid-auto-rows: 1fr;
    font-family: "Montserrat", sans-serif;
    background: #171717;
    border: none;
    border-radius: 20px;
    text-align: center;
    line-height: 2;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: clamp(150px, 30.6vw, 392px);
    padding: 20px 0 43px 0;
    aspect-ratio: unset;
    color: white;
    position: relative;

    @media (max-width: 480px) {
      padding: 10px 0 15px 0;
    }

    &.wide {
      grid-column: span 2; // Широкая карточка занимает 2 колонки
      aspect-ratio: unset; // Соотношение сторон 2:1 вместо 1:1
      height: clamp(150px, 30.6vw, 392px);
    }
  }

  span {
    display: block;
    line-height: 1.2;
    font-size: clamp(14px, 3vw, 36px);
  }

  .category-icon {
    //  width: min(250px, 21vw);
    width: clamp(100px, 20vw, 250px);
    height: auto;
    border-radius: 50%;
    margin-top: clamp(10px, 2vw, 40px);
  }
}
