<div class="burger-menu-dropdown">
  <ul class="burger-menu-list">
    <li class="burger-menu-element">
      <a class="burger-menu-text" (click)="scrollTo('team')">Специализации</a>
    </li>
    <li class="burger-menu-element">
      <a class="burger-menu-text" (click)="scrollTo('services')">Услуги</a>
    </li>
    <li class="burger-menu-element">
      <a class="burger-menu-text" (click)="scrollTo('projects')">Проекты</a>
    </li>
    <li class="burger-menu-element">
      <a class="burger-menu-text" (click)="scrollTo('questions')">Вопросы</a>
    </li>
    <li class="burger-menu-element">
      <a class="burger-menu-text" (click)="scrollTo('contacts')">Контакты</a>
    </li>
  </ul>
</div>
