<header class="header">
  <div class="header-navigation">
    <ul class="header-navigation-menu">
      <li><a (click)="scrollTo('team')">Команда</a></li>
      <li><a (click)="scrollTo('services')">Услуги</a></li>
      <li><a (click)="scrollTo('projects')">Проекты</a></li>
      <li><a (click)="scrollTo('questions')">Вопросы</a></li>
      <li><a (click)="scrollTo('contacts')">Контакты</a></li>
    </ul>

    <img src="assets/icons/logo.svg" alt="Логотип" class="header-logo" />

    <button (click)="openContactsMenu()" class="discuss-button">
      Обсудить проект
    </button>

    <a href="tel:+7 (917) 464  55-32" class="telephone-number">
      +7 (917) 464 55-32
    </a>
    <img
      src="../../../assets/Header/burger.svg"
      alt="бургер-меню"
      class="mobile-burger-menu"
      (click)="toggleBurgerMenu()"
    />
  </div>
  <div class="burger-menu-dropdown" *ngIf="isBurgerOpen" @fadeInOut>
    <ul class="burger-menu-list">
      <li class="burger-menu-element">
        <a class="burger-menu-text" (click)="scrollTo('team')">Команда</a>
      </li>
      <li class="burger-menu-element">
        <a class="burger-menu-text" (click)="scrollTo('services')">Услуги</a>
      </li>
      <li class="burger-menu-element">
        <a class="burger-menu-text" (click)="scrollTo('projects')">Проекты</a>
      </li>
      <li class="burger-menu-element">
        <a class="burger-menu-text" (click)="scrollTo('questions')">Вопросы</a>
      </li>
      <li class="burger-menu-element">
        <a class="burger-menu-text" (click)="scrollTo('contacts')">Контакты</a>
      </li>
    </ul>
  </div>
</header>
