$font-family: "Montserrat", sans-serif;
$primary-color: #0077ff;
$text-color: #ffffff;
$background: black;

.header {
  position: relative;
  width: 100%;
  max-height: 133.2px;
  margin: 10px 0 0 0;
  padding: 0 20px;
  font: {
    weight: 500;
    size: clamp(16px, 2vw, 20px);
  }
  line-height: 100%;
  color: $text-color;
  background-color: transparent;
  box-sizing: border-box;

  * {
    font: inherit;
    color: inherit;
  }

  &::after {
    content: "";
    position: absolute;
    top: -10px;
    right: 0;
    left: 874px;
    max-width: 847px;
    max-height: 955px;
    background: {
      image: url("../../../assets/Header/main_background.svg");
      repeat: no-repeat;
      position: right top;
      size: contain;
    }
    pointer-events: none;
    z-index: -1;
  }

  &-navigation {
    display: flex;
    flex-wrap: wrap;
    max-width: 1217px;
    margin: 0 auto;
  }

  &-navigation-menu {
    display: flex;
    flex-wrap: wrap;
    gap: min(20px, 2vw);
    list-style: none;
    margin: 30px 0 0 0;
    padding: 0;
    width: auto;

    a {
      font-family: $font-family;
      text-decoration: none;
      white-space: nowrap;
      font-size: 20px;

      &:hover {
        color: $primary-color;
        cursor: pointer;
      }
    }
  }

  &-logo {
    user-select: none;
    max-width: 93.5px;
    height: auto;
    margin: 0 48px 0 45px;
  }

  .discuss-button {
    font: {
      family: $font-family;
      weight: 600;
    }
    max-width: 227px;
    height: 50px;
    padding: 10px 20px;
    border: 2px solid $primary-color;
    border-radius: 30px;
    background: transparent;
    margin-right: clamp(10px, 2vw, 20px);
    margin-top: clamp(10px, 1.5vw, 17px);
    white-space: nowrap;
    font-size: 20px;

    &:hover {
      background-color: $primary-color;
      cursor: pointer;
    }
  }

  .telephone-number {
    font-family: $font-family;
    margin-top: clamp(15px, 2vw, 30px);
    white-space: nowrap;
    text-decoration: none;
    font-size: 20px;
  }

  .mobile-burger-menu {
    display: none;
  }

  @media (max-width: 992px) {
    &::after {
      width: 60%;
    }

    &-navigation-menu {
      font-size: 16px;
      display: none;
    }

    .discuss-button {
      font-size: 16px;
    }

    .telephone-number {
      font-size: 16px;
    }
  }

  @media (max-width: 756px) {
    &::after {
      width: 60%;
    }

    &-navigation-menu {
      font-size: 16px;
      display: none;
    }

    .discuss-button {
      font-size: 16px;
    }

    .telephone-number {
      font-size: 16px;
    }
  }

  @media (max-width: 576px) {
    .header {
      margin: 10px 0 0 0;
    }
    &-navigation {
      grid-template-columns: auto auto auto;
      // justify-content: space-between;
      padding: 0 10px;
    }

    .discuss-button {
      display: none;
    }

    .telephone-number {
      font-size: 12px;
      order: 1;
      margin-top: 27px;
    }

    &-logo {
      width: 52.59px;
      margin-left: 34px;
      order: 2;
    }

    .mobile-burger-menu {
      display: block;
      position: absolute;
      order: 3;
      top: 28px;
      right: 20px;
    }
  }
}
