<header class="header">
  <div class="header-navigation">
    <div class="header-box">
      <ul class="header-navigation-menu">
        <li><a routerLink="/team">Команда</a></li>
        <li><a routerLink="/services">Услуги</a></li>
        <li><a routerLink="/projects">Проекты</a></li>
        <li><a routerLink="/questions">Вопросы</a></li>
        <li><a routerLink="/contacts">Контакты</a></li>
      </ul>
    </div>
    <img src="assets/icons/logo.svg" alt="Логотип" class="header-logo" />
    <button class="discuss-button">Обсудить проект</button>
    <a href="tel:+7 (917) 464  55-32" class="telephone-number"
      >+7 (917) 464 55-32</a
    >
  </div>
</header>
