$font-family: "Montserrat", sans-serif;
$primary-color: #0077ff;
$text-color: #ffffff;
$background: black;

* {
  font-size: 20px;
  color: inherit;
}

.header {
  position: relative;
  height: clamp(67px, 80px + 2vw, 133px);
  max-width: 1216px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px 20px 0 20px;
  font: {
    weight: 400;
  }
  line-height: 100%;
  color: $text-color;
  background-color: transparent;

  &-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-navigation-menu {
    display: flex;
    flex-wrap: wrap;
    gap: min(20px, 2vw);
    list-style: none;
    margin: clamp(1em, 3vw, 30px) 0 0 0;
    padding: 0;
    width: auto;

    a {
      font-family: $font-family;
      font-weight: 400;
      text-decoration: none;
      white-space: nowrap;

      &:hover {
        color: $primary-color;
        cursor: pointer;
      }
    }
  }

  &-logo {
    user-select: none;
    max-width: clamp(60px, 8vw, 93.5px);
    height: auto;
    margin-left: clamp(0px, 4vw, 45px);
    margin-right: clamp(0px, 5vw, 48px);
  }

  .discuss-button {
    font: {
      family: $font-family;
      weight: 500;
      line-height: 10px;
    }
    max-width: 227px;
    height: 50px;
    padding: 10px 20px;
    border: 2px solid $primary-color;
    border-radius: 30px;
    background: transparent;
    margin-right: clamp(10px, 2vw, 20px);
    margin-top: 15px;
    white-space: nowrap;
    font-size: 20px;
    text-align: center;

    &:hover {
      background-color: $primary-color;
      cursor: pointer;
    }
  }

  .telephone-number {
    font-family: $font-family;
    margin: clamp(1em, 3vw, 30px) 0 0 0;

    white-space: nowrap;
    text-decoration: none;
    font-size: 20px;
    &:hover {
      color: $primary-color;
      cursor: pointer;
    }
  }

  .mobile-burger-menu {
    display: none;
  }

  @media (max-width: 1271px) {
    a {
      font-size: 16px;
    }

    .discuss-button {
      font-size: 16px;
      font-weight: 500;
      width: 200px;
      height: 40px;
    }

    .telephone-number {
      font-size: 16px;
    }
  }

  @media (max-width: 1092px) {
    .discuss-button {
      margin-right: 10px;
    }

    .header-logo {
      margin: 0;
    }
  }

  @media (max-width: 965px) {
    &::after {
      width: clamp(320px, 72vw, 692px);
      aspect-ratio: 692 / 800;
    }

    .header-navigation-menu {
      display: none;
    }

    &-navigation {
      grid-template-columns: auto auto auto;
      padding: 0;
      margin: 0;
    }

    .discuss-button {
      position: absolute;
      right: clamp(60px, 12vw, 50px);
      order: 3;
      padding: 10px 20px;
      font-size: 16px;
      white-space: nowrap;
      text-align: center;
      min-width: clamp(120px, 25vw, 180px);
      box-sizing: border-box;
      margin-top: clamp(5px, 2.3vw, 30px);
    }

    .logo {
      order: 2;
    }

    .telephone-number {
      order: 1;
      margin-top: clamp(15px, 4vw, 43px);
    }

    &-logo {
      position: absolute;
      width: 93px;
      margin: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .mobile-burger-menu {
      display: block;
      position: absolute;
      order: 3;
      margin-top: clamp(15px, 4vw, 43px);
      right: clamp(10px, 5vw, 20px);
      cursor: pointer;
    }
  }

  @media (max-width: 730px) {
    .discuss-button {
      margin-top: clamp(13px, 1.5vw, 30px);
    }
  }

  @media (max-width: 655px) {
    .discuss-button {
      display: none;
    }
  }

  @media (max-width: 480px) {
    .header {
      margin: clamp(0.2em, 1vw, 10px) 0 0 0;
    }

    .header::after {
      display: none !important;
    }

    &-navigation {
      grid-template-columns: auto auto auto;
    }

    .telephone-number {
      font-size: 12px;
      order: 1;
      margin-top: 17px;
    }

    &-logo {
      position: absolute;
      width: clamp(40px, 7vw, 52.59px);
      margin: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .mobile-burger-menu {
      display: block;
      position: absolute;
      order: 3;
      margin-top: 17px;
    }
  }
}
