$font-family: "Montserrat", sans-serif;
$primary-color: #0077ff;
$text-color: #ffffff;
$background: black;

.main {
  position: relative;
  height: fit-content;
  background-color: transparent;
}

.main-box {
  width: 100%;
  max-width: 1216px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
  color: $text-color;
  display: grid;
  grid-template-areas:
    "column1 column2"
    "stack stack";
  grid-auto-rows: auto;
  z-index: 1;
}

.column-1 {
  grid-area: column1;
  z-index: 1;
  height: fit-content;
}

h1 {
  position: relative;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: clamp(48px, 12vw, 180px);
  line-height: clamp(48px, 10vw, 145px);
  letter-spacing: -0.06em;
  text-transform: uppercase;
  height: auto;
  margin-top: clamp(30px, 10vw, 134px);
  margin-bottom: 0;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 30%;
    right: 30%;
    width: clamp(40px, 7vw, 80px);
    height: clamp(40px, 7vw, 80px);
    background: url("../../../assets/Main/Emblems/Figma.svg") no-repeat
      center/contain;
    pointer-events: none;
    z-index: 5;
    transform: rotate(15deg);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    animation: levitate 3s ease-in-out infinite alternate;
    transform: rotate(var(--rotation));
  }
}

.welcome {
  font-family: $font-family;
  font-weight: 300;
  font-size: clamp(16px, 2vw, 24px);
  max-width: clamp(320px, 50vw, 602px);
  height: clamp(57px, 8vw, 87px);
  margin-top: clamp(10px, 2vw, 20px);
}

.order-button {
  font-family: $font-family;
  font-weight: 600;
  font-size: clamp(16px, 2vw, 24px);
  line-height: 50%;
  margin-top: clamp(10px, 2vw, 20px);
  left: clamp(20px, 20vw, 352px);
  border-radius: 30px;
  padding: 20px 40px;
  height: auto;
  max-height: 60px;
  gap: 10px;
  background-color: $primary-color;
  color: $text-color;
  border: 2px solid $primary-color;

  &:hover {
    background: transparent;
    cursor: pointer;
    box-sizing: border-box;
  }
}

.column-2 {
  grid-area: column2;
  position: relative;
  margin-top: 50px;
  height: fit-content;
}

.levitate-image {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  pointer-events: none;
  position: absolute;
  animation: levitate 3s ease-in-out infinite alternate;
  transform: rotate(var(--rotation));
}

.levitate-image_F {
  @extend .levitate-image;
}

.Python {
  width: clamp(100px, 12vw, 150px);
  height: clamp(100px, 12vw, 150px);
  top: clamp(100px, 17vw, 220px);
  left: clamp(-20px, 5vw, 0px);
  animation-delay: 0s;
}

.VS {
  width: clamp(80px, 10vw, 110px);
  height: clamp(80px, 10vw, 110px);
  top: clamp(150px, 25vw, 450px);
  left: clamp(-70px, 7vw, 160px);
  animation-delay: 1.5s;
}

.SQL {
  width: clamp(60px, 7vw, 75px);
  height: clamp(60px, 7vw, 75px);
  top: clamp(200px, 35vw, 600px);
  left: clamp(0px, 5vw, 63px);
  animation-delay: 1s;
}

.scrolling-stack {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  height: 60px;
  width: 100vw;
  overflow: hidden;
  position: relative;
  left: 0;
  display: flex;
  align-items: center;
  background-color: #ffffff1a;
  backdrop-filter: blur(9.9px);
  grid-area: stack;
  margin-top: 180px;
}

.stack {
  display: flex;
  position: relative;
  white-space: nowrap;
}

.stack-content-1 {
  animation: marquee1 60s infinite linear;
  animation-delay: -60s;
}

.stack-content-2 {
  animation: marquee2 60s infinite linear;
  animation-delay: -30s;
}

span {
  margin: 0 clamp(10px, 2vw, 20px);
  font-family: $font-family;
  font-weight: 400;
  font-size: clamp(14px, 2vw, 24px);
  line-height: 107%;
  letter-spacing: -1.9%;
  color: $text-color;
}

@keyframes levitate {
  0% {
    transform: translateY(0) rotate(var(--rotation));
  }
  100% {
    transform: translateY(-20px) rotate(var(--rotation));
  }
}

@keyframes marquee1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

@media (max-width: 960px) {
  h1 {
    font-size: clamp(60px, 12vw, 140px);
    font-weight: 700;
    max-width: 468px;
  }

  .C_plusplus {
    left: clamp(10px, 30vw, 200px);
    top: clamp(100px, 20vw, 204px);
    max-width: 80px;
    height: 80px;
  }

  .welcome {
    margin-top: 20px;
    font-size: clamp(14px, 2vw, 24px);
    font-weight: 300;
    width: 602px;
    height: auto;
  }

  .order-button {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 600;
    max-width: 291px;
    max-height: 60px;
    width: 100%;
    height: auto;
    padding: 16px 32px;
  }

  .scrolling-stack {
    margin-top: 57px;

    span {
      font-size: 24px;
      font-weight: 400;
    }
  }

  .Python,
  .VS,
  .SQL,
  .C_plusplus {
    width: calc(clamp(50px, 12vw, 150px) - 25px);
    height: auto;
  }
}

@media (max-width: 480px) {
  .main {
    grid-template-areas:
      "column1"
      "stack";
    grid-template-columns: 1fr;
  }

  .columns {
    padding: 0 clamp(10px, 5vw, 30px);
  }

  h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 60px;
    width: fit-content;

    &::after {
      display: none;
    }
  }

  img {
    display: none;
  }

  .welcome {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    max-width: 320px;
    height: 57px;
  }

  .order-button {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    max-width: fit-content;
    max-height: 30px;
    width: 100%;
    padding: 10px 20px;
  }

  .column-2 {
    display: none;
  }

  .scrolling-stack {
    margin-top: 40px;
    height: 40px;

    span {
      font-size: 16px;
      font-weight: 400;
    }
  }

  .Python,
  .VS,
  .SQL,
  .C_plusplus {
    width: calc(clamp(30px, 9vw, 100px) - 50px);
    height: auto;
  }
}
