<div class="questions">
  <h2>Частые <span class="title-questions">вопросы</span></h2>
  <div class="questions-box">
    <div class="question question-1">
      <p>Какой у нас стек?</p>
      <p></p>
    </div>
    <div class="question question-2">
      <p>Сколько человек в нашей команде?</p>
      <p></p>
    </div>
    <div class="question question-3">
      <p>Сколько стоит наш час?</p>
      <p></p>
    </div>
    <div class="question question-4">
      <p>Где мы находимся?</p>
      <p></p>
    </div>
  </div>
</div>
