.contacts {
  width: 100%;
  max-width: 1216px;
  margin: clamp(60px, 5vw, 100px) auto 0;
  box-sizing: border-box;
  padding: 0 2%;
}

h2 {
  position: relative;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: clamp(32px, 8vw, 96px);
  letter-spacing: -0.06em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  height: auto;
  min-height: clamp(32px, 10vw, 145px);
}

.contacts-box {
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: clamp(150px, 30vw, 400px) 1fr;
  height: auto;
  min-height: 300px;
  max-height: 715px;
  position: relative;
}

.contacts_column-1 {
  display: flex;
  flex-direction: column;
  margin-top: clamp(40px, 8vw, 132px);
  position: relative;
  z-index: 2;
  margin-bottom: clamp(60px, 8vw, 133px);
}

form {
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 1.5vw, 20px);
  width: clamp(360px, 70vw, 450px);
}

.text-field {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: clamp(12px, 2vw, 24px);
  line-height: 100%;
  border: none;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  background-color: transparent;
  width: 100%;
  max-width: 450px;
  border-bottom: 2px solid #676767;
  padding: clamp(10px, 1.5vw, 20px);
  color: #fff;

  &::placeholder {
    color: #999;
    font-family: Montserrat, sans-serif;
    font-weight: 200;
    font-size: clamp(12px, 2vw, 24px);
    line-height: 100%;
  }

  &:focus {
    border-bottom: 2px solid #fff;
  }
}

.name_field {
  height: 60px;
}

.phone_field {
  height: 60px;
}

.comment_field {
  height: 200px;
  resize: none;
  overflow: hidden;
}

.bid-button {
  font: {
    family: Space Grotesk, sans-serif;
    weight: 500;
  }
  height: clamp(30px, 4vw, 50px);
  border: 2px solid #0077ff;
  border-radius: 30px;
  background: transparent;
  margin-top: clamp(10px, 1.5vw, 20px);
  white-space: nowrap;
  font-size: clamp(12px, 1.8vw, 20px);
  color: #fff;
  width: 100%;
  max-width: 450px;
  &:hover {
    background-color: #0077ff;
    cursor: pointer;
  }
}

.contacts_column-2 {
  margin-left: clamp(0px, 20vw, 200px);
  position: relative;
  height: 100%;
  z-index: 2;
}

.Danis-photo {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  pointer-events: none;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  object-position: bottom;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.levitate-image {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  pointer-events: none;
  position: absolute;
  animation: levitate 3s ease-in-out infinite alternate;
  width: 100px;
  height: 100px;
  z-index: 3;
}

.Whatsapp {
  position: relative;
  left: clamp(60px, 7vw, 100px);
  animation-delay: 1.5s;
}

.Telegram {
  position: relative;
  left: clamp(-50px, -7vw, -100px);
  top: clamp(90px, 10vw, 150px);
  animation-delay: 0.5s;
}

.contacts_text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: clamp(8px, 1.8vw, 20px);
  line-height: 100%;
  position: relative;
  z-index: 3;
}

.contacts-span-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: clamp(8px, 1.8vw, 20px);
  line-height: 100%;
}

.Danis {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  margin-top: clamp(140px, 15vw, 185px);
  width: clamp(121px, 25vw, 280px);
  padding: clamp(5px, 1vw, 10px);
  gap: 5px;
  border-radius: 15px;
  color: #fff;
  background-color: #0077ff;
  z-index: 3;

  &::after {
    content: "";
    position: absolute;
    top: -25px;
    right: -25px;
    width: clamp(20px, 3vw, 40px);
    height: clamp(20px, 3vw, 40px);
    background-image: url("../../../assets/Contacts/arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
  }
}

.label {
  color: #e32966;
}

.value {
  font-weight: 400;
}

.Danis_contacts {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: clamp(0px, 0.5vw, 5px);
  width: clamp(121px, 25vw, 280px);
  height: auto;
  padding: clamp(5px, 1vw, 10px);
  border-radius: 15px;
  background-color: #fff;
  margin-top: clamp(5px, 1.5vw, 20px);
  position: relative;
  z-index: 3;
}

.contact-line {
  line-height: clamp(6px, 1.5vw, normal);
}

@keyframes levitate {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

@media (max-width: 960px) {
  .contacts {
    margin-top: 60px;
    margin-left: 20px;
  }

  h2 {
    font-size: clamp(40px, 60px, 80px);
  }

  .contacts-box {
    height: 600px;
  }

  .contacts_column-1 {
    margin-top: 111px;
    margin-bottom: 110px;
  }

  form {
    width: clamp(150px, 60vw, 360px);
    gap: 10px;
  }

  .text-field {
    width: clamp(150px, 60vw, 360px);
    font-size: 20px;
  }

  input {
    height: 60px;
  }

  .text-field::placeholder {
    font-size: 20px;
  }

  .comment_field {
    width: clamp(150px, 60vw, 360px);
    height: 150px;
    font-size: 20px;
  }

  .bid-button {
    width: clamp(150px, 60vw, 360px);
    height: 50px;
    margin-top: 30px;
  }

  .contacts_column-2 {
    margin-left: clamp(0px, 1vw, 60px);
  }

  .Danis-photo {
    height: auto;
    max-height: 600px;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: contain;
    object-position: bottom;
    width: clamp(218px, 50vw, 502px);
  }

  .image {
    width: 75px;
    height: 75px;
  }

  .Whatsapp {
    top: 20px;
    left: 200px;
  }

  .Telegram {
    left: 50px;
  }

  .Danis {
    margin-top: 246px;
  }

  .contacts_text {
    margin-left: 100px;
  }

  .Danis_contacts {
    margin-left: 100px;
  }
}

@media (max-width: 360px) {
  .contacts {
    margin-top: 40px;
    margin-left: 20px;
  }

  h2 {
    font-size: 32px;
    height: 32px;
  }

  .contacts-box {
    height: 282px;
  }

  .contacts_column-1 {
    margin-top: 40px;
    margin-bottom: 22px;
  }

  form {
    width: 150px;
    gap: 10px;
  }

  .name_field {
    height: 30px;
  }

  .phone_number_field {
    height: 30px;
  }

  .text-field {
    width: 150px;
    font-size: 12px;
    padding: 10px 20px;
  }

  .text-field::placeholder {
    font-size: 12px;
  }

  textarea {
    height: 90px;
    font-size: 12px;
  }

  .comment_field {
    height: 90px;
  }

  .bid-button {
    width: 150px;
    height: 30px;
    margin-top: 10px;
    font-size: 12px;
  }

  .contacts_column-2 {
    margin-left: -20px;
  }

  .Danis-photo {
    width: 100%;
    height: auto;
    max-height: 260px;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: contain;
    object-position: bottom right;
  }

  .image {
    width: 25px;
    height: 25px;
  }

  .Whatsapp {
    left: 60px;
  }

  .Telegram {
    left: 10px;
    top: 90px;
  }

  .contacts-span-text {
    font-size: 8px;
    line-height: 11px;
  }

  .Danis {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 100%;
    width: 121px;
    font-size: 8px;
    margin-left: 52px;
    padding: 10px;
    height: 19px;
    margin-top: 140px;
    &::after {
      display: none;
    }
  }

  .contact-line {
    line-height: 6px;
  }

  .Danis_contacts {
    box-sizing: border-box;
    width: 121px;
    height: 40px;
    margin-top: 5px;
    gap: 0px;
    margin-left: 52px;
    padding: 10px;
    border-radius: 5px;
  }
}
