<div id="contacts" class="contacts" >
  <h2 #contactsEl>Контакты</h2>
  <div id="contactsSection" class="contacts-box">
    <div class="contacts_column-1">
      <form
        [formGroup]="contactForm"
        (ngSubmit)="onSubmit()"
        [class.form-invalid]="contactForm.invalid && contactForm.touched"
      >
        <input
          type="text"
          class="text-field name_field"
          placeholder="Имя*"
          formControlName="name"
          maxlength="100"
        />
        <input
          type="tel"
          class="text-field phone_number_field"
          placeholder="+7 (___) ___-__-__"
          formControlName="phone"
          (input)="formatPhoneNumber($event)"
        />
        <textarea
          class="text-field comment_field"
          placeholder="Текст"
          formControlName="text"
          maxlength="1000"
        ></textarea>
        <button
          class="bid-button"
          type="submit"
          [disabled]="isSending || contactForm.invalid"
        >
          {{ isSending ? "Отправка..." : "Оставить заявку" }}
        </button>
        <div class="error-message-container">
          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>
        </div>
      </form>
    </div>
    <div class="contacts_column-2">
      <div [innerHTML]="danisSvg" class="Danis-photo"></div>
      <img
        src="../../../assets/Contacts/Whatsapp.svg"
        alt="ватсап"
        class="image levitate-image Whatsapp"
        looseness="0.5"
        loading="lazy"
      />
      <img
        src="../../../assets/Contacts/Telegram.svg"
        alt="телеграм"
        class="image levitate-image Telegram"
        looseness="0.5"
        loading="lazy"
      />
      <div class="Danis contacts_text">Данис Хамидуллин</div>
      <div class="Danis_contacts">
        <div class="contact-line contacts-span-text">CEO</div>
        <div class="contact-line">
          <span class="label contacts-span-text">phone:</span>
          <span class="value contacts-span-text"> +7 (905) 026 21 62</span>
        </div>
        <div class="contact-line">
          <span class="label contacts-span-text"> tg:</span>
          <span class="value contacts-span-text"> &#64;DemlerIT</span>
        </div>
      </div>
    </div>
  </div>
</div>
<app-success
  *ngIf="showSuccessModal"
  (closed)="hideSuccessModal()"
  class="success-modal"
></app-success>
