<section id="services" class="services-section">
  <h2 class="services-title" #servicesEl>
    <span class="first-word">Наши услуги</span
    ><span class="second-word"> по разработке</span>
  </h2>

  <div class="services-marquee">
    <div class="services-track" #servicesTrack>
      <div
        class="service-card"
        *ngFor="let service of services; let i = index; trackBy: trackByFn"
        [class.active]="selectedIndex === i"
        (click)="centerCard(i)"
      >
        <div class="service-image">
          <img
            [src]="service.image"
            [alt]="service.alt"
            sizes="(max-width: 400px) 400px,
         (max-width: 800px) 800px,
         1200px"
          />
          <div class="content-overlay">
            <h3 class="service-title">{{ service.title }}</h3>
            <a (click)="scrollToContacts($event)" class="order-button">
              Заказать
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="navigation-buttons">
    <button
      class="nav-button prev"
      [class.disabled]="isFirstCard"
      [disabled]="isFirstCard"
      (click)="scroll('left')"
    >
      <img
        src="assets/services/strwhleft.svg"
        alt="стрелка влево"
        class="button-arrow"
        loading="lazy"
      />
    </button>
    <button
      class="nav-button next"
      [class.disabled]="isLastCard"
      [disabled]="isLastCard"
      (click)="scroll('right')"
    >
      <img
        src="assets/services/strelwh.svg"
        alt="стрелка вправо"
        class="button-arrow"
        loading="lazy"
      />
    </button>
  </div>
</section>
